WCF-Labbar/Labberation/Labb_1.6/Service References/FamousPeopleService/FamousPeopleDiedInPlanecrash.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPersonFromList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonFromListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonFromListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPersonFromListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonFromList" />
  </wsdl:message>
  <wsdl:message name="GetPersonFromListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonFromListResponse" />
  </wsdl:message>
  <wsdl:portType name="FamousPeopleDiedInPlanecrashSoap">
    <wsdl:operation name="GetPersonFromList">
      <wsdl:input message="tns:GetPersonFromListSoapIn" />
      <wsdl:output message="tns:GetPersonFromListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FamousPeopleDiedInPlanecrashSoap" type="tns:FamousPeopleDiedInPlanecrashSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonFromList">
      <soap:operation soapAction="http://tempuri.org/GetPersonFromList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FamousPeopleDiedInPlanecrashSoap12" type="tns:FamousPeopleDiedInPlanecrashSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonFromList">
      <soap12:operation soapAction="http://tempuri.org/GetPersonFromList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FamousPeopleDiedInPlanecrash">
    <wsdl:port name="FamousPeopleDiedInPlanecrashSoap" binding="tns:FamousPeopleDiedInPlanecrashSoap">
      <soap:address location="http://localhost:22811/FamousPeopleDiedInPlanecrash.asmx" />
    </wsdl:port>
    <wsdl:port name="FamousPeopleDiedInPlanecrashSoap12" binding="tns:FamousPeopleDiedInPlanecrashSoap12">
      <soap12:address location="http://localhost:22811/FamousPeopleDiedInPlanecrash.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>