WCF-Labbar/Labb 1/Service References/ServiceReference1/WCF-Labbar_Labb1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Weather">
        <s:complexType />
      </s:element>
      <s:element name="WeatherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WeatherResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WeatherSoapIn">
    <wsdl:part name="parameters" element="tns:Weather" />
  </wsdl:message>
  <wsdl:message name="WeatherSoapOut">
    <wsdl:part name="parameters" element="tns:WeatherResponse" />
  </wsdl:message>
  <wsdl:portType name="WCF_Labbar_Labb1Soap">
    <wsdl:operation name="Weather">
      <wsdl:input message="tns:WeatherSoapIn" />
      <wsdl:output message="tns:WeatherSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WCF_Labbar_Labb1Soap" type="tns:WCF_Labbar_Labb1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Weather">
      <soap:operation soapAction="http://tempuri.org/Weather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WCF_Labbar_Labb1Soap12" type="tns:WCF_Labbar_Labb1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Weather">
      <soap12:operation soapAction="http://tempuri.org/Weather" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCF_Labbar_Labb1">
    <wsdl:port name="WCF_Labbar_Labb1Soap" binding="tns:WCF_Labbar_Labb1Soap">
      <soap:address location="http://localhost:6345/WCF-Labbar_Labb1.asmx" />
    </wsdl:port>
    <wsdl:port name="WCF_Labbar_Labb1Soap12" binding="tns:WCF_Labbar_Labb1Soap12">
      <soap12:address location="http://localhost:6345/WCF-Labbar_Labb1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>