WCF-Labbar/Labberation/Labb_1.5/Service References/NameDayServise/NamnsdagarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetNameForDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNameForDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNameForDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNameForDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetNameForDate" />
  </wsdl:message>
  <wsdl:message name="GetNameForDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetNameForDateResponse" />
  </wsdl:message>
  <wsdl:portType name="NamnsdagarServiceSoap">
    <wsdl:operation name="GetNameForDate">
      <wsdl:input message="tns:GetNameForDateSoapIn" />
      <wsdl:output message="tns:GetNameForDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NamnsdagarServiceSoap" type="tns:NamnsdagarServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNameForDate">
      <soap:operation soapAction="http://tempuri.org/GetNameForDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NamnsdagarServiceSoap12" type="tns:NamnsdagarServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNameForDate">
      <soap12:operation soapAction="http://tempuri.org/GetNameForDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NamnsdagarService">
    <wsdl:port name="NamnsdagarServiceSoap" binding="tns:NamnsdagarServiceSoap">
      <soap:address location="http://localhost:22752/NamnsdagarService.asmx" />
    </wsdl:port>
    <wsdl:port name="NamnsdagarServiceSoap12" binding="tns:NamnsdagarServiceSoap12">
      <soap12:address location="http://localhost:22752/NamnsdagarService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>