WCF-Labbar/Labberation/Labb_1.2/Service References/AdditionServiceTwoNumbers/AdditionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddTwoNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTwoNumbersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTwoNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwoNumbers" />
  </wsdl:message>
  <wsdl:message name="AddTwoNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwoNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="AdditionServiceSoap">
    <wsdl:operation name="AddTwoNumbers">
      <wsdl:input message="tns:AddTwoNumbersSoapIn" />
      <wsdl:output message="tns:AddTwoNumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdditionServiceSoap" type="tns:AdditionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTwoNumbers">
      <soap:operation soapAction="http://tempuri.org/AddTwoNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdditionServiceSoap12" type="tns:AdditionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTwoNumbers">
      <soap12:operation soapAction="http://tempuri.org/AddTwoNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdditionService">
    <wsdl:port name="AdditionServiceSoap" binding="tns:AdditionServiceSoap">
      <soap:address location="http://localhost:22662/AdditionService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdditionServiceSoap12" binding="tns:AdditionServiceSoap12">
      <soap12:address location="http://localhost:22662/AdditionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>